.answer_detail {
  padding: 20px;
  box-shadow: 0 8px 8px $grayBackground;

  .user_infor {
    display: flex;
    align-items: centers;
    justify-content: space-between;
    white-space: nowrap;

    .left_info {
      display: flex;

      .user_head,
      .user_identity {
        display: flex;
        align-items: center;
      }

      .user_head_img {
        width: 45px;
        height: 45px;
        margin-right: 15px;
        background-color: $grayBackground;
        border-radius: 50%;
      }

      .user_identity {
        margin-left: 20px;

        .user_identity_icon {
          width: 43px;
          height: 43px;
        }

        .user_identity_text {
          color: $grayWord;
        }
      }
    }

    .right_operate {
      display: flex;
      align-items: center;

      .status {
        color: $themeColor;
      }

      .iconfont {
        margin-left: 10px;
        color: gray;
        font-size: 32px;
      }
    }
  }

  .answer_content {
    min-height: 500px;

    .content_text {
      margin: 12px 0;
      white-space: 'pre-wrap';
    }

    .content_img {
      width: 100%;
      margin: 0 auto;
      margin: 15px 0;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    color: $grayWord;
    white-space: nowrap;
  }

  .footer_operate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .footer_tips {
      padding: 20px 0 10px;
      color: $grayWord;
    }

    .operate {
      display: flex;
      color: $grayWord;

      .operate_item {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .iconfont {
          padding: 0 10px;
          font-size: 50px;
        }

        .adopted {
          color: rgb(255, 141, 26);
        }

        .agreed {
          color: rgb(255, 87, 51);
        }

        .icon-message {
          color: $themeColor;
        }
      }
    }
  }
}
