.btn {
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 32rpx;
  word-spacing: 4rpx;
  background-color: $themeColor;
}

.btn_hover {
  position: relative;
  top: 2rpx;
  box-shadow: 0px 0px 8px #999 inset;
}
