.message_detail_page {
  padding: 25px;
  font-style: $fontSize;

  .title {
    padding: 10px;
    font-size: 32px;
  }

  .message_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    .user_info,
    .user_head,
    .user_identity {
      display: flex;
      align-items: center;
    }

    .user_head_img {
      width: 45px;
      height: 45px;
      margin-right: 15px;
      border-radius: 50%;
    }

    .user_identity_icon {
      width: 38px;
      height: 38px;
      margin: 0 10px;
    }

    .head_date {
      color: $grayWord;
    }

    .content_text {
      padding: 10px 0;
    }

    .img_container {
      display: flex;
      justify-content: center;

      .content_img {
        align-items: center;
        max-width: 100%;
        padding: 10px 0;
        background-color: $grayBackground;
      }
    }
  }

  .content_footer {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;
    color: $grayWord;
  }
}
