.comment_item {
  padding: 20px;
  box-shadow: 0 8px 8px $grayBackground;

  .user_infor {
    display: flex;
    align-items: centers;
    justify-content: space-between;
    white-space: nowrap;

    .left_info {
      display: flex;

      .user_head,
      .user_identity {
        display: flex;
        align-items: center;
      }

      .user_head_img {
        width: 45px;
        height: 45px;
        margin-right: 15px;
        background-color: $grayBackground;
        border-radius: 50%;
      }

      .user_identity {
        margin-left: 20px;

        .user_identity_icon {
          width: 43px;
          height: 43px;
        }

        .user_identity_text {
          color: $grayWord;
        }
      }
    }

    .right_operate {
      display: flex;
      align-items: center;

      .iconfont {
        color: gray;
        font-size: 32px;
      }
    }
  }

  .comment_content {
    margin: 12px 0;
    white-space: pre-wrap;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    color: $grayWord;
  }
}
