.feedback_page {
  padding: 25px;
  font-size: $fontSize;

  .submit_container {
    padding-bottom: 20px;
    box-shadow: 0 8px 8px $grayBackground;

    .submitBtn {
      margin-top: 20px;
    }

    .group_tips {
      margin-top: 20px;
      color: $grayWord;
      font-size: 26px;
      text-align: center;
    }
  }

  .feedback_container {
    margin-top: 40px;

    .title {
      margin-bottom: 20px;
    }
  }
}
