.report_page {
  padding: 25px;
  font-size: $fontSize;

  .report_title {
    color: $grayWord;
  }

  .content_card {
    margin: 20px 0 30px;
    padding: 20px;
    background-color: $grayBackground;
    box-shadow: 0 8px 8px $grayBackground;

    .content_card_text {
      display: -webkit-box;
      overflow: hidden;
      line-height: 40px;
      letter-spacing: 2px;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .btn {
    margin-top: 20px;
  }
}
